.profile {
  width: 350px;
  height: 120px;
  position: relative;

}
.profile figure, .profile figure img, .profile figure .back, .profile figure .front, .profile figure .back span {
  width: 90px;
  height: 90px;
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  -ms-border-radius: 500px;
  -o-border-radius: 500px;
  border-radius: 500px;
}
.profile figure  {
  z-index: 3;
  left: -50px;
  top: 10px;
  background: #e0e0e0;
  padding: 5px;
  border-right: solid 1px #bdc6e7;
}
.profile figure img {
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}
.profile figure .front, .profile figure .back {
  position: relative;
  top: 5px;
  left: 5px;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms;
}
.profile figure .front {
  z-index: 1;
}
.profile figure .back {
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  -o-transform: rotateX(180deg);
  transform: rotateX(180deg);
}
.profile figure .back span {
  position: relative;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 2;
  text-align: center;
  color: #ffffff;
  line-height: 88px;
  font-size: 20px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.profile figure .back span:active {
  -webkit-box-shadow: 0 0 25px 20px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 0 25px 20px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 0 25px 20px rgba(0, 0, 0, 0.1) inset;
}
.profile figure:hover .front {
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  -o-transform: rotateX(180deg);
  transform: rotateX(180deg);
}
.profile figure:hover .back {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  -o-transform: rotateX(0deg);
  transform: rotateX(0deg);
}
.profile article {
  position: relative;
  padding: 5px 10px 5px 60px;
  background: #fff;
  -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2), 0 0 2px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2), 0 0 2px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2), 0 0 2px rgba(0, 0, 0, 0.1) inset;
  width: 280px;
  height: 115px;
}
.profile .info {
  z-index: 2;
}
.profile .info .name {
  font-size: 23px;
  margin-bottom: 5px;
  color: #36c;
}
.profile .info .job {
  font-size: 13px;
  color: #505050;
}
.profile .info .stats {
  width: 280px;
  height: 50px;
  margin-top: 10px;
  padding-top: 6px;
  border-top: solid 1px #ddd;
}
.profile .info .stats li {
  float: left;
  font-size: 22px;
  width: 33.3%;
  color: #353535;
}
.profile .info .stats li label {
  font-size: 13px;
  display: block;
  color: #757575;
}
.profile .contact {
  top: 10px;
  left: 10px;
}
.profile .contact ul {
  margin-top: 5px;
}
.profile .contact li {
  margin-bottom: 8px;
  clear: both;
}
.profile .contact li label {
  width: 90px;
  float: left;
  display: block;
  line-height: 17px;
}
.profile .contact li label img {
  width: 16px;
  height: 16px;
  margin-right: 5px;
  float: left;
}
.profile .contact li label:after {
  content: ":";
}
.profile .contact li a {
  color: #36c;
  text-decoration: none;
}
.profile .contact li a:hover {
  text-decoration: underline;
}
.profile .otherLabel {
  position: relative;
  z-index: 5;
  right: -15px;
  top: -5px;
  cursor: pointer;
  background: #1e78e8;
  padding: 2px 5px;
  color: #ffffff;
}
.profile .otherLabel.infoLabel {
  display: none;
}
.profile input[type=radio] {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  position: relative;
  top: -9999px;
  left: -9999px;
}

.hideClick {
  animation: second 500ms both ease;
}
.showClick {
  animation: first 500ms both ease;
}


@keyframes second {
  0% {
    z-index: 1;
    top: 10px;
    left: 10px;
  }

  50% {
    top: 150px;
    left: 10px;
  }

  100% {
    top: 0;
    left: 0px;
    z-index: 2;
  }
}

@keyframes first {
  from {
    top: 0;
    left: 0;
    z-index: 2;
  }

  to {
    top: 10px;
    left: 10px;
    z-index: 1;
  }
}
