
<div id="fullscreen_bg" class="fullscreen_bg" />

<div class="container">

    <form class="form-signin">
        <h1 class="form-signin-heading text-muted">When are you free?</h1>
        @*<h6>Availability</h6>*@

        <div class="form-group">

            <label>Day of Week</label>
            <select id="day" class="form-control">
                <option>Monday</option>
                <option>Tuesday</option>
                <option>Wednsday</option>
                <option>Thursday</option>
                <option>Friday</option>
                <option>Saturday</option>
                <option>Sunday</option>
            </select>
            <label>Time of Day</label>
            <select id="time" class="form-control">
                <option>Morning</option>
                <option>Afternoon</option>
                <option>Evening</option>
            </select>
            <button id="add" class="btn-lg btn-primary btn-block" type="button" style="margin-top: 10px; margin-bottom: 10px;">Add</button>


        </div>
        @*<p>you are available :</p>*@
        <ul id="available" class="list-group"></ul>
        <a id="next" class="btn btn-lg btn-primary btn-block" type="submit" style="display: none" href="/Home/ChooseMentor/">
            Next
        </a>
    </form>

</div>

<!-- Latest compiled and minified JavaScript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<script type="text/javascript">
    $(document).ready(function () {

        $("#add").click(function () {
            var day = $("#day").find(":selected").text();
            var time = $("#time").find(":selected").text();

            $("#available").append("<li class='list-group-item'>" + day + " " + time + "</li>");

            $("#next").show();

        });
    });
</script>
