
<body>
		<div id="fullscreen_bg" class="fullscreen_bg"/>
	  <center>
	  <p style="color:white; font-weight:bold; margin-top:50px; font-size:50px;">Match!</p> <br> <p style="color:white; font-weight:bold; margin-top:30px; font-size:24px;">-Mentor Name- would like to be your mentor!</p> <br>
	  <p style="color:white; font-weight:bold; margin-top:30px; font-size:24px;">Your lesson will be in:</p><label>location</label>
	  <p style="color:white; font-weight:bold; margin-top:10px; margin-bottom: 0px; font-size:24px;">At </p>
	  <label>time</label>
	   
	   
	 
	  <a class="btn btn-primary btn-lg btn-block" type="button" style="margin-top:50px;">Continue to unit lesson</a>
      </center>
	</div>


	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script> 
	
