@using SmallTalk.Web.Controllers

<h1 class="form-signin-heading text-muted text-center">I am a</h1>
<br />
<div class="container">

    <a type="button" class="btn btn-primary btn-lg btn-block" href="/Home/Register">Tutor</a>
    <a type="button" class="btn btn-primary btn-lg btn-block" href="/Home/Register">Student</a>
</div>



