@section scripts
{
    <link rel="stylesheet" type="text/css" href="/css/card.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<link href="/css/findMentor.css" rel="stylesheet" />

    @*<script src="findMentor.js"></script>*@
}

<div id="fullscreen_bg" class="fullscreen_bg" />

<div class="container">

   
    <center>
        <h2 class="lbl">Choose a Mentor near you</h2>
    </center>
    <section class="profile">
        <!--	<input type="radio" id="contactBtn" name="otherBtn">
         <input type="radio" id="infoBtn" name="otherBtn">-->
        <label class="otherLabel contactLabel" onclick="contactClick(this)">Contact</label>
        <label class="otherLabel infoLabel" onclick="infoClick(this)">Info</label>

        <center>
            <figure>
                <div class="front">
                    <img src="https://pbs.twimg.com/profile_images/425933007283683328/CB8hDpdS_bigger.png" alt="">
                </div>
            </figure>
            <article class="info">
                <header class="name">Amy Rachel</header>
                <h5 class="job">Publix Manager</h5>
                <ul class="stats">
                    <li style="margin-right: 2px;"><label>Average Rating:</label><p style="font-size:14px;">4.5</p></li>
                    <li><label>Availability:</label><p style="font-size:14px;">M-W, Afternoons</p></li>
                    <li class="btn btn-primary btn-lg btn-block" style="width: 200px;"><label style="color:white;"></label><p style="font-size:12px; color:white; font-weight:bold;">Book lesson!</p></li>

                </ul>
            </article>
            <article class="contact"></article>
        </center>
    </section>
</div>
<!--<a class="btn btn-primary btn-lg btn-block" type="button" style="margin-top: 300px;">Book a Lesson!</a>-->
  

