

<div id="fullscreen_bg" class="fullscreen_bg"/>

<center style="margin-top:40px;">
    <div class="row lead">
        <p style="color:white; font-size:25px; font-weight:bold;">Rate your mastery of the content:</p>
        <div id="stars" class="starrr"></div>
        You rated it <span id="count">0</span> star(s)
    </div>
    <div class="row lead">
        <p style="color: white; font-size: 25px; font-weight: bold;">Overall rating of your mentor:</p>
        <div id="stars" class="starrr"></div>
        You rated it <span id="count">0</span> star(s)
    </div>

    <div style="margin-bottom: 30px;">
        <p style="color: white; font-size: 25px; font-weight: bold;">Comments:</p>
        <textarea name cols="" rows="4" style="width: 100%"></textarea>
    </div>

    <a class="btn btn-primary btn-lg btn-block" type="button" href="/Home/LessonHistory/">Next</a>

</center>

@section scripts
{
    <script type="text/javascript" src="/css/ratings.js"></script>
}

