<div class="jumbotron">
    <h1>Small Talk</h1>
    <p class="lead">I am a:</p>
</div>
<div class="row">

    @*select language
    select city
    enter profile*@


    <div data-ng-controller="languageController" class="container">

        <ul>
            <li>{{language.id}}</li>
            <li>{{language.Name}}</li>
            <li>{{language.LocalName}}</li>
        </ul>
    </div>


</div>


