<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Registration</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/reg.css">
</head>

<body>



    <div class="container">
        <h1 class="form-signin-heading text-muted">Categories</h1>
        <div class="row" style="margin-left: 50px;">
            <div class="col-md-6">
                <a><img src="/img/tab1.jpg" alt="cat1"></a>
                <a><img src="/img/tab2.jpg" alt="cat2"></a>
            </div>
            <div class="col-md-6">
                <a><img src="/img/tab3.jpg" alt="cat3"></a>
                <a><img src="/img/tab4.jpg" alt="cat4"></a>
            </div>
            <div class="col-md-6">
                <a><img src="/img/tab5.jpg" alt="cat3"></a>
                <a><img src="/img/tab6.jpg" alt="cat4"></a>
            </div>
        </div>


        <div class="btn-group">
            <a type="button" class="btn btn-primary btn-lg btn-block" href="/Home/Feedback">Lesson Complete</a>
        </div>

    </div>


</body>
</html>