
<div id="fullscreen_bg" class="fullscreen_bg" />

<div class="container">

    <form class="form-signin">
        <div class="input-group form-group">


            <h1 class="form-signin-heading text-muted">Sign Up</h1>

            <div class="input-group">
                <input type="text" class="form-control" placeholder="Name" required="required" autofocus="">
                <br />
                <input type="email" class="form-control" placeholder="Email" required="required" autofocus="">
                <br />
                <input type="tel" class="form-control" placeholder="Phone Number" required="required" autofocus="">

                <div class="input-group">
                    <span class="label label-success" style="font-size: 1.1em;">I am a: </span>
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary">Man</button>
                        <button type="button" class="btn btn-primary">Woman</button>
                    </div>
                </div>
                <input type="password" class="form-control" placeholder="Password" required="required">
                <br />
                <input type="text" class="form-control" placeholder="zip/postal code">

                <input type="text" class="form-control" placeholder="Birth year">
                <br />
                <span class="label label-success" style="font-size: 1.1em;">My English level is:</span>
                
                <div class="btn-group">
                    <button type="button" class="btn btn-primary">Beginner</button>
                    <button type="button" class="btn btn-primary">Intermediate</button>
                    <button type="button" class="btn btn-primary">Advanced</button>
                </div>

            </div>

            <div class="input-group">

                <span class="label label-success" style="font-size: 1.1em;">Upload your photo:</span>
                <br />
                <input type="file" class="form-control" placeholder="Upload your photo" autofocus="">
            </div>


        </div>

        <a class="btn btn-lg btn-primary btn-block" type="submit" href="/Home/Availability/">
            Next
        </a>
    </form>
</div>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
